MusicLibrary/MusicTheorySDKTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicLibrary/MusicTheorySDKTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicLibrary/MusicTheorySDK/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicLibrary/MusicTheorySDK/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicLibrary/MusicTheorySDK/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicLibrary/MusicTheorySDK/obj/Release/MusicTheorySDK.csproj.FileListAbsolute.txt
MusicLibrary/Demos/obj/Release/_WPPLastBuildInfo.txt
MusicLibrary/Demos/obj/Release/Tsc.out
MusicLibrary/Demos/obj/Release/TransformWebConfig/transformed/Web.config
MusicLibrary/Demos/obj/Release/TransformWebConfig/original/Web.config
MusicLibrary/Demos/obj/Release/TransformWebConfig/assist/Web.config
MusicLibrary/Demos/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicLibrary/Demos/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicLibrary/Demos/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicLibrary/Demos/obj/Release/Package/PackageTmp/favicon.ico
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/respond.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/respond.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper-utils.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-grid.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-grid.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/Site.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/_ViewStart.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Web.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Shared/_Layout.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/ResourceModel.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/Index.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/Api.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Areas/HelpPage/HelpPage.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/ApplicationInsights.config
MusicLibrary/Demos/obj/Release/Package/Demos.SourceManifest.xml
MusicLibrary/Demos/obj/Release/Demos.csproj.FileListAbsolute.txt
MusicLibrary/Demos/obj/Release/Demos.csproj.CopyComplete
MusicLibrary/MusicTheoryTestConsole/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicLibrary/MusicTheoryTestConsole/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicLibrary/MusicTheoryTestConsole/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicLibrary/MusicTheorySDKTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
MusicLibrary/Demos/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Web.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Views/Web.config
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/popper-utils.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.slim.min.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.slim.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.slim.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.min.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/jquery-3.0.0.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/README.md
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Global.asax
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap.min.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css.map
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css
MusicLibrary/Demos/obj/Release/CSAutoParameterize/transformed/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize/transformed/Views/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize/transformed/Areas/HelpPage/Views/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize/original/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize/original/Views/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize/original/Areas/HelpPage/Views/Web.config
MusicLibrary/Demos/obj/Release/CSAutoParameterize.parameters.xml
MusicLibrary/Demos/Properties/PublishProfiles/rudiments - Web Deploy.pubxml
MusicLibrary/Demos.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicLibrary/Demos.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicLibrary/Demos.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicLibrary/.vs/MusicTheory/v15/Server/sqlite3/storage.ide-wal
MusicLibrary/.vs/MusicTheory/v15/Server/sqlite3/storage.ide-shm
MusicLibrary/Demos.Tests/obj/Debug/Demos.Tests.csproj.FileListAbsolute.txt
MusicLibrary/Demos/obj/Debug/Demos.csproj.FileListAbsolute.txt
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/style.default.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/fontawesome-webfont.woff2
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/fontawesome-webfont.woff
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/fontawesome-webfont.ttf
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/fontawesome-webfont.svg
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/fontawesome-webfont.eot
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fonts/FontAwesome.otf
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/fontastic.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/font-awesome.min.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Content/font-awesome.css
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/front.js
MusicLibrary/Demos/obj/Release/Package/PackageTmp/Scripts/charts-home.js
