<div class="jumbotron">
    <h1>Western Classical Music System</h1>
    <p class="lead">Here are the most popular scales and modes of Western Classical Music.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Major Scales</h2>
    </div>
    <div class="col-md-4">
        <h2>Natural Minor Scales</h2>
    </div>
    <div class="col-md-4">
        <h2>Modes</h2>
    </div>
</div>
